[2020-11-28 11:17] Ezhvsalate opened #1 "Pagination doesn't work in postgres"
Trying to follow your example with databases (https://github.com/uriyyo/fastapi-pagination/blob/main/examples/pagination_databases.py) I failed with following error:

[code]

[2020-11-28 11:19] uriyyo commented on #1
Thanks for submitting an issue, will try to investigate and fix it

[2020-11-28 11:34] Ezhvsalate commented on #1
Changing line #13 in file fastapi_pagination\ext\databases.py to
` total = await db.fetch_val(select([func.count()]).select_from(query.alias("subquery")))` helped me.

[2020-11-28 11:36] uriyyo commented on #1
Thanks for pointing to the problem, I have already found it🙂

Fix of this issue will be included in the `0.4.0` version (I hope the release will be today).

[2020-11-28 15:38] uriyyo commented on #1
This issue is fixed in [0.4.0](https://github.com/uriyyo/fastapi-pagination/releases/tag/0.4.0) version.

I am closing this issue, feel free to reopen if there are still issues with Postgres integration.

[2020-11-28 15:38] #1 closed

[2020-12-04 19:42] mrcartoonster opened #2 "Tortoise ORM extension"
Will you make a [Tortoise ORM](https://tortoise-orm.readthedocs.io/en/latest/) extension?

[2020-12-04 19:47] uriyyo commented on #2
Hi, @mrcartoonster

Definitely yes!
Tortoise is the next thing which I want to integrate with `fastapi-pagination`

[2020-12-04 21:05] mrcartoonster commented on #2
Thank you! This is an AMAZING FastAPI extension.

[2020-12-04 22:46] uriyyo commented on #2
I have implemented Tortoise ORM integration and it is available under `0.4.1` version.

To install `fastapi-pagination` with `Tortoise` integration please run
[code]

There is an example of how to integrate `fastapi-pagination` and `Tortoise`:
https://github.com/uriyyo/fastapi-pagination/blob/493531f89fcc9b8aa441f220880b510efd35f310/examples/pagination_tortoise.py#L1-L65

In case of any questions

[2020-12-04 22:47] #2 closed

[2020-12-04 22:58] mrcartoonster commented on #2
Cool! I'll let you know if I run into any issues. I'll try it out by the end of today.

[2021-02-02 10:42] alam-mahtab opened #3 "Fastapi-pagination Throwing error on linux instance."
I am working on a project where pagination is working fine but as i take a step forward to host it on AWS EC2 ubuntu instance, it started throwing error like

ERROR: Could not find a version that satisfies the requirement fastapi-pagination==0.5.1
ERROR: No matching distribution found for fastapi-pagination==0.5.1

It also worked fine on heroku,
i am not able to understand that this problem is fro

[2021-02-02 11:35] kamikaze opened #4 "LimitOffsetParams don't work"
This way pagination works fine:
[code]

When switching to limit-offset version:
[code]

same code and adjusted request fail with: `"Page should be used with PaginationParams"`
Request:
[code]

Endpoint:
[code]

[2021-02-02 13:08] uriyyo commented on #3
Which version of python are you using?

The minimal required version is `3.7`.

[2021-02-02 13:24] uriyyo commented on #4
Can you try to use this example?

[code]

In case if you want to use another page model you must call `using_page` function with page model class.
[code]

[2021-02-02 14:41] kamikaze commented on #4
Nice! Thanks, that worked! Just curious if I missed something in docs...

[2021-02-02 14:47] uriyyo commented on #4
It's my fault, I didn't add docs how to use limit-offset pagination. I will update docs, thanks for a issue)

[2021-02-03 10:33] alam-mahtab commented on #3
version is 3.8

[2021-02-04 09:48] uriyyo commented on #4
I am closing this issue. I have added docs and example for `limit-offset` based pagination.

[2021-02-04 09:48] #4 closed

[2021-02-04 10:01] uriyyo commented on #3
I have tested it using Docker and python 3.8, everything works as expected, cmd that I used:
[code]

Looks like this is a problem on the AWS side because package doesn't have any OS limitations.

Did you resolve this issue?

[2021-02-11 20:56] kamikaze opened #5 "Possible performance issue"
https://github.com/uriyyo/fastapi-pagination/blob/3331eb4c02797629fad3688fa55f1f361286f998/fastapi_pagination/paginator.py#L9

Am I missing something or this way of paginating requires to fetch all rows from database to just get full count of rows while we just need a single page of data?

[2021-02-11 21:03] uriyyo commented on #5
This is generic pagination that is used to paginate some prefetched data.

In case if you want better performance there are integrations with popular libraries:
* sqlalchemy
* gino
* databases
* orm
* tortoise

The full list of examples can be found [here](https://github.com/uriyyo/fastapi-pagination/tree/main/examples).

For instance `sqlalchemy` pagination usage:
[code]

[2021-02-11 21:05] uriyyo commented on #3
@alam-mahtab Any updates?

[2021-02-11 21:07] kamikaze commented on #5
Nice. thanks!

[2021-02-11 21:07] #5 closed

[2021-02-19 13:19] rushilsrivastava opened #6 "Unable to install extras"
Trying to install any of the `extras` fails on 0.52.

[code]

[2021-02-19 13:21] uriyyo commented on #6
Thanks for submitting issue, I will take closer look at it today.

[2021-02-19 13:24] uriyyo commented on #6
Could you try to wrap name with extras in quotes?

For instance:
[code]

Looks like this is `pip` related thing🙂

[2021-02-19 13:26] rushilsrivastava commented on #6
Yup, was just about to reply! That was causing the problems on the build side - thanks so much 😅

[2021-02-19 13:26] #6 closed

[2021-02-19 13:27] uriyyo commented on #6
No worries🙂

[2021-02-19 14:17] uriyyo commented on #3
Hi @alam-mahtab  is this issue still actual?

[2021-02-22 08:44] shyamsukhamit opened #11 "Pagination_params not working"
Hi I am trying to use fastapi-pagination

here is the sample code:

`
from typing import Any, List

from fastapi import APIRouter, Body, Depends, HTTPException

from sqlalchemy.orm import Session

from app import crud, models, schemas
from app.api import deps
from app.core.config import settings

from app.db.database import get_db

from fastapi_pagination import PaginationParams, Page
from fastapi

[2021-02-22 09:04] uriyyo commented on #11
Could you please update `get_table` function to look like this:
[code]

[2021-02-22 09:19] shyamsukhamit commented on #11
Thanks it is working now -
I have missed importing
from fastapi_pagination import pagination_params

[2021-02-22 09:19] #11 closed

[2021-02-22 09:21] uriyyo commented on #11
Happy to hear that🙂

[2021-02-26 19:46] LeiShi1313 opened #16 "Pagination modal is broken on pydantic 1.8"
Sample traceback:
[code]
Downgrade to 1.7.3 solve the problem.

[2021-02-26 20:02] uriyyo commented on #16
Thanks for submitting the issue, I will try to resolve it as soon as possible.

[2021-02-26 20:26] uriyyo commented on #16
Hi @LeiShi1313 this issue is fixed in version `0.5.3`. In case if this issue will appear again, please reopen this issue.

[2021-02-26 20:26] #16 closed

[2021-02-26 21:03] LeiShi1313 commented on #16
It works, nice! Thank you for fast response!

[2021-02-28 10:05] shyamsukhamit opened #17 "How to pass a custom size in pagination_params"
Hi,
Can you please let me know if there is any way that we can pass a custom size=xx in pagination params.

As of now by default it passes 50 as per page size.
Where can I pass a custom size in the below code?
[code]

Thanks.

[2021-02-28 11:36] uriyyo commented on #17
Hi,

You can create custom pagination params.

For instance:
[code]

[2021-02-28 12:43] shyamsukhamit commented on #17
Thanks it works.

[2021-02-28 12:44] uriyyo commented on #17
Great, I will try to prepare new version with a simpler API🙂

[2021-02-28 12:44] #17 closed

[2021-03-02 22:16] yovizzle opened #21 "Increasing limit value"
Hey there, is it possible to increase the limit value? I tried to define `pagination_params` as below (informed by #17), but had no luck. What is the correct way to do it?

Thanks!

[code]

Error message received:

[code]

[2021-03-02 22:19] yovizzle commented on #21
Sorry, I didn't see #17. Closing this now.  Thank you!

[2021-03-03 05:10] uriyyo commented on #21
Hi, this is a bug. I am preparing new version which will fix this issue.

[2021-03-03 18:49] uriyyo commented on #3
I am closing this issue, in case if it will appear please reopen this issue.

[2021-03-03 18:49] #3 closed

[2021-03-03 22:47] mathbeal opened #22 "LimitOffsetPagination error with databases library"
Hi,

[code]
I tried to use LimitOffsetPage with databases. The following code is working with Page and pagination_params.

[code]

but importing `Page` and `pagination_params` from **fastapi_pagination.limit_offset** generates the following error during pagination.

`from fastapi_pagination.limit_offset import Page, pagination_params`

[code]

The problem is "solved" replacing default=Page by defa

[2021-03-04 07:51] uriyyo commented on #22
Hi,

You can change default `Page` using `using_page` function:
[code]

This issue is duplicate of #4

[2021-03-04 08:37] mathbeal commented on #22
Yes, `using_page `can help.

thanks

[2021-03-04 08:37] #22 closed

[2021-03-05 23:51] ivryan opened #25 "Asyncpg support"
have you planned to support asyncpg?

[2021-03-06 11:15] uriyyo commented on #21
Hi @yovizzle, version `0.6.0` is released, to solve your problem, please use code like this:
[code]

[2021-03-06 11:17] uriyyo commented on #25
Hi @ivryan , I will take a look at `asyncpg` integration, it will be great to have such integration)

[2021-03-09 01:19] rushilsrivastava commented on #4
@uriyyo I think it would be helpful to add the `using_page` method in the documentation. Also, is there any reason there is a `using_page` method, wouldn't it just be better to use the ResponseModel of the route? Happy to send a PR unless you already tried this.

[2021-03-09 10:21] uriyyo commented on #21
Hi @yovizzle, I am closing this issue, in case when it's not working as you expected, please reopen this PR)

[2021-03-11 02:32] rushilsrivastava commented on #4
@uriyyo Would we have to use the `using_page` method to set the Page response mode that is being checked via `add_pagination`?

[2021-03-11 07:59] uriyyo commented on #4
@rushilsrivastava  No need to do anything) `add_pagination` will automatically configure your application.

You can take a look at examples. That's how you should use `fastapi-pagination` since `0.6.0` version.

[2021-03-11 08:06] rushilsrivastava commented on #4
Sorry slight typo - meant to say the `use_params` function to set the custom Params.

[2021-03-11 09:08] uriyyo commented on #4
With new implementation, every `Page` class has `Params` type associated with it.
Basically, `Page` class has `__params_type__` attribute wich is pointing to `Params` class.

For instance, how to create change default `Params`:
[code]

[2021-03-11 11:15] uriyyo commented on #25
`asyncpg` integration is available in version `0.6.1`

[2021-03-11 11:15] #25 closed

[2021-03-11 19:50] ivryan commented on #25
Thanks

[2021-03-12 14:02] rushilsrivastava commented on #4
I just implemented the same come on the latest version (0.6.1) and don't think that the Custom Params (or even default Params for that matter) is being exported to the generated OpenAPI docs. I am using the same code you have shown above.

[2021-03-12 14:07] uriyyo commented on #4
They must be exported. The idea is to have link between Page and Params. I have just double-checked and generated OpenAPI schema is correct.

Please, correct me in case if I missunderstood your answer.

[2021-03-12 14:25] rushilsrivastava commented on #4
Hmm, upon further testing it seems that the exporting keeps failing when Uvicorn reloads. Sometime, it exports to OpenAPI schema correctly and is shown on the docs, but most of the time only a few routes are exported. Despite not being exported to the schema, the route still works as expected.

Will report back with code that can reproduce the error.

[2021-03-12 14:31] rushilsrivastava commented on #4
Upgrading to the latest Uvicorn (0.13.4) fixed this problem for me - thanks for the help!

[2021-03-12 14:39] uriyyo commented on #4
Your welcome, happy to hear that)

[2021-03-15 05:00] shyamsukhamit opened #34 "Unalbe to import pagination_params"
Earlier when I have installed fastapi-pagination it was 0.5.2 it was working fine

Today I  installed then the version is .0.6.1

now it produces following error.

from fastapi_pagination import pagination_params
ImportError: cannot import name 'pagination_params' from 'fastapi_pagination'

when I am trying to import :

from fastapi_pagination import pagination_params
from fastapi_pagination.pagin

[2021-03-15 07:55] uriyyo commented on #34
Hi @shyamsukhamit,

The API has been changed. There are no`pagination_params` no more.

Example:
[code]

[2021-03-15 08:24] uriyyo commented on #34
I will return `pagination_params` in version `0.7.0` but it will be marked as deprecated

[2021-03-15 09:11] shyamsukhamit commented on #34
Hi, Can you please help - how to pass custom per page size i.e. Limit  in the below code? I tried but no success

@router.get("/", response_model=Page[schemas.Table1B])
@router.get("/limit-offset", response_model=LimitOffsetPage[schemas.Table1B])
def get_table(db: Session = Depends(get_db),skip: int = 0, limit: int = 2) -> Any:
    return paginate(db.query(models.Table1))

[2021-03-15 13:17] uriyyo commented on #34
Version `0.7.0` has been released.

There are `with_custom_options` class method that allows set custom values for params:

For instance:
[code]

[2021-03-16 04:28] shyamsukhamit commented on #34
Please forgive my ignorance  but that does'nt seem to work - it returns full set of records

Am I missing anything.

[code]

[2021-03-16 07:09] uriyyo commented on #34
@shyamsukhamit Could you please provide more context on how to reproduce this issue?

I have just double-checked and everything works as expected:
![image](https://user-images.githubusercontent.com/32038156/111269424-4d1cfa00-8637-11eb-9dab-ecde4e0d0806.png)

[2021-03-16 07:21] shyamsukhamit commented on #34
my bad - I was executing the router get("/"), request did not notice the limit-offset router - when I access the .get("/limit-offset") then it provides the pagination.

Thank you so much for the help.

[2021-03-16 07:25] uriyyo commented on #34
Your welcome, I am closing this issue, in case if it appears again feel free to reopen this issue.

[2021-03-16 07:25] #34 closed

[2021-03-17 13:23] ivryan opened #37 "Create Custom Page"
I need to manage a Custom Page is there any way to do it?

[2021-03-17 14:33] uriyyo commented on #37
Hi @ivryan,

Sure, you can create custom page.

For instance:
[code]

Link to documentation -  https://uriyyo-fastapi-pagination.netlify.app/customization/

In case if I didn't answer on your question, could you please provide more context.

[2021-03-17 18:57] ivryan opened #38 "Asyncpg issue on paginated query"
Hi,
seems that *asyncpg* pagination doesn't manage correctly **LIMIT** and **OFFSET** clauses because the idx*emphasized text* used to paginate the query uses the regex result on query parameters defined on SQL Text instead the raw parameters

    raw_params = params.to_raw_params()
    items = await conn.fetch(
        f"{query} LIMIT ${idx + 1} OFFSET ${idx + 2}",
        *args,
        *astuple

[2021-03-17 19:13] uriyyo commented on #38
Could you please provide more context on where is bug?

Regex is used to calculate the latest index and it's used to correctly add arguments to query.
Looks like it's can be simplified, with putting limit and offset inside query instead of passing it as fetch arguments.

[2021-03-17 19:48] ivryan commented on #38
I've checked better the code and it works as expected

Sorry for the misunderstanding

[2021-03-17 21:12] uriyyo commented on #38
No worries, actually after looking at code again I have realized that it can be simplified, so thank you for this issue)

[2021-03-17 21:12] #38 closed

[2021-03-17 21:13] uriyyo commented on #37
@ivryan Can I close this issue or you have smth to clarify&

[2021-03-17 23:40] ivryan commented on #37
It works thanks close it

[2021-03-17 23:40] #37 closed

[2021-03-19 19:41] masasin opened #40 "[enh] Use islice rather than slice in order to work with generators."
Right now, you select the data using `[]`. `itertools.islice` stills works on sequences, but also works on generators, which is useful when there is a lot of data to go through.

Specifically, I think replacing this line: https://github.com/uriyyo/fastapi-pagination/blob/b6e287524cffa628e76b87e79d5cab0e6f579035/fastapi_pagination/paginator.py#L17 would be sufficient to add the functionality while

[2021-03-19 21:07] uriyyo commented on #40
Hi @masasin,
It looks amazing and very useful.

Would you mind to implement this feature?)

[2021-03-20 00:20] masasin commented on #40
I tried submitting a pull request, but the tests are all failing. I can't quite figure out why, and I'm not able to install the environment (EnvCommand error when trying to install psycopg2), so I can't test locally. Can you take a look?

[2021-04-02 17:31] jenia opened #49 "How do you get the next page?"
Hey Yurii.

How do you get the next page?

I inserted 100 users into the database but I can only see the first page but cannot go to the next.

Thanks

[2021-04-02 18:16] uriyyo commented on #49
Hi @jenia,

Can you please provide the code that you are using?

For instance:
https://github.com/uriyyo/fastapi-pagination/blob/98d350dd179d6654f5db6816e09d38be891a3ad2/examples/pagination_sqlalchemy.py#L76-L79

To get second page:
[code]

[2021-04-02 20:51] jenia commented on #49
Hey @uriyyo
Thanks for the reply! Yea I was missing the `page=1` parameter.

Here is my simple example: https://gist.github.com/jenia/1d1c148b52ca8a634dea96a97e926554

Thanks again!!

[2021-04-02 22:45] #49 closed

[2021-04-02 22:45] jenia opened #50 "How do I use the customization feature?"
I [tried to customize][1] FastAPI-pagination. I began implementing the AbstractPage class but I'm stuck. I don't understand how customization works. I wanted it to display the `Pagination` class as `"links" : {"next" : 1, "page" : 0}` for example instead of `total":102,"page":0,"size":50` by

Can you please give me a hint on how to achieve this?

Thanks!

  [1]: https://gist.github.com/jenia/83a8f

[2021-04-02 22:59] jenia commented on #50
I think I need to change `return cls(results=users)` :) `Typing` syntax threw me off a little

[2021-04-05 06:36] uriyyo commented on #50
Hi @jenia,
Can I close this issue or you have more questions?

[2021-04-06 10:39] sharad-smi opened #53 "How can I change initial page from 0 to 1?"
I want the initial page number to be 1 instead of 0. In actual use, the first page has page number 1.

How can this be done?

[2021-04-06 11:11] uriyyo commented on #53
Hi @sharad-smi,

Could you please try to use this code snippet:
[code]

[2021-04-06 11:31] sharad-smi commented on #53
Thank you for the quick response, such an amazing lib, easy to use.

I am new to Python could you please tell me where to add this snippet, I tried adding it before routing but that didn't work.

[2021-04-06 12:34] uriyyo commented on #53
Could you provide code which you are using?

This is a fully working example:
[code]

[2021-04-07 04:47] sharad-smi commented on #53
Thank you for your kind response. It worked.

My Humble suggestion is to start the page with 1, not from 0. Everywhere the pagination page starts from 1.
Hoe you will keep this suggestion in mind for the future release.

[2021-04-07 07:24] uriyyo commented on #53
Thanks, I will take it into account.

[2021-04-13 13:56] lingster opened #60 "Add support for Django orm"
Hi,
I was wondering if you can review the PR: https://github.com/uriyyo/fastapi-pagination/pull/59

This adds a new extension to be used with Django. One problem was how to map from a django model to a pydantic model, so I updated paginate() to access a BaseModel which expects a from_django() method to convert from django to a pydantic model.

I was also considering [djantic](https://github.com/jo

[2021-04-13 14:57] uriyyo commented on #60
Hi @lingster,

Thank you for your efforts🙂

[2021-04-20 06:30] uriyyo commented on #50
Hi @jenia,

I am closing this issue. Feel free to reopen it)

[2021-04-20 06:30] #50 closed

[2021-04-20 11:47] #60 closed

[2021-04-22 13:23] johnthagen opened #73 "ormar example raises AttributeError when queried"
I tried running the `ormar` example as is and it did not work:

[code]

CC @collerek

[2021-04-23 13:55] collerek commented on #73
Fixed in 0.10.5, @uriyyo can you please bum required ormar version >=0.10.5? And after that (and maybe additional check) you can close the issue ;)

Thanks!

[2021-04-25 19:13] uriyyo commented on #73
Hi @collerek,

Thanks for a quick fix. Issue has been resolved 🙂

[2021-04-25 19:13] #73 closed

[2021-04-30 05:05] lingster opened #80 "option to return all rows"
hi, would it be possible to add a feature to the parameter to return all rows? maybe either a boolean for all rows or -1 in the size field.

Happy to submit a PR..

[2021-04-30 05:14] lingster commented on #40
psycop2 is the postgres driver. Happy to take a look or would it be useful to add a dockerfile to the project to help reproduce the error and have a consistent development environment setup?

[2021-05-03 09:52] Alexander-N opened #82 "Pagination links"
Thanks for this great project! What would be the best way to customize the response to add pagination links for example as in https://jsonapi.org/examples/#pagination?

I can change the response, but I'm not sure how to best pass in `request.url.path` to construct the urls.

[code]

[2021-05-04 14:28] uriyyo commented on #80
Hi @lingster,
Sorry for the long response. Could you please provide examples?

Basically, the idea of pagination is to prevent the full loading of all entities.

You can always create a custom page and increase max number of page size.

[2021-05-04 14:30] uriyyo commented on #82
Hi @Alexander-N,

Thanks for pointing this out.  Actually, I thought about this feature)

I will take a closer look at how to implement it.

[2021-05-06 17:41] #82 closed

[2021-05-10 19:10] pmlynarek opened #92 "SQLAlchemy pagination error - pydantic.error_wrappers.ValidationError"
Hi! 👋

**version 0.7.1**

For `sqlalchemy` extension in function `fastapi_pagination.ext.sqlalchemy.paginate`, we should rather return list of dicts instead of tuples:
https://github.com/uriyyo/fastapi-pagination/blob/0.7.1/fastapi_pagination/ext/sqlalchemy.py#L23

I get the validation error there
`items = paginate_query(query, params).all()  # as is`
`items = [item._asdict() for item in paginate_

[2021-05-10 19:20] uriyyo commented on #92
Hi @pmlynarek,

Thanks for pointing this out. It will be fixed in the scope of `0.7.2` version

[2021-05-11 11:22] #92 closed, assigned to uriyyo

[2021-05-13 04:29] uselessscat commented on #53
Hi guys,

Im glad I written tests for pagination indexes. This breaks not just our backend tests (7 or 8 tests), also the clients (frontends) that are consuming endpoints using pagination from this library.

So I think this is not a PATCH version update, because is not compatible at all with 0.7.1.

I usually read changelogs when I update major and minor versions, but this was a surprise. Maybe ot

[2021-05-13 06:02] uriyyo commented on #53
Hi @uselessscat,

I am so sorry to hear that. It was done by mistake (I forget to use `minor` version release scripts instead of `patch` version).

You are totally right, I was planning to release the next `minor` version of `fastapi-pagination` and didn't notice that I have realized `patch` version.

Sorry again, for such troubles. Version `0.7.3.` is released and it has reverted changes for this

[2021-05-31 17:25] milost77 opened #112 "Links return wrong last page link"
It is always +1 of what it should be. If there is 1 page it returns page 2 as last, if 10 then 11, etc.

[code]

[2021-05-31 17:40] uriyyo commented on #112
Hi @milost77,
Thanks for submitting issue, it maybe related to #105 #103. I will take a closer look.

[2021-05-31 19:16] milost77 commented on #112
Thank you. It seems that this is wrong:
fastapi_pagination/links/default.py:24
```last={"page": ceil(total / size)},```

If I change it to:
```last={"page": round(total / size) if size < total else 0},```

Then it seems to return expected number of the last page. I will test it more though.

[2021-06-01 08:32] uriyyo commented on #112
Hi @milost77,

This issue was resolved by #105 and #103.

New version `0.7.4` is released. Could you please verify that this issue is no longer present at new version?

[2021-06-01 09:01] milost77 commented on #112
Hi, I tested just now and works for all cases I tried, thank you!

[2021-06-01 09:28] uriyyo commented on #112
Great, I will close this issue.

Thanks for opening this issue, I forgot to publish this fix🙂

[2021-06-01 09:28] #112 closed

[2021-06-09 01:07] elpablete commented on #40
How can I help? Eager to see this resolved!

[2021-06-09 01:19] elpablete opened #121 "Use __all__ in __init__ so mypy does not complain about no_implicit_reexport"
Mypy complains about implicit reexports, this could be fixed by using __all__ in the module's __init__.

https://mypy.readthedocs.io/en/latest/command_line.html?highlight=no_implicit_reexport#cmdoption-mypy-no-implicit-reexport

[2021-06-09 07:30] uriyyo commented on #121
Hi @elpablete,

Thanks for submitting this issue. I will try to fix it asap.

[2021-06-09 07:35] uriyyo commented on #40
I think we should introduce new `paginator` that will be able to work with iterables. Also we should add new pages classes that will not contains `total` field as far as we don't know how many elements are in a iterables and it is not possible to calculate it for infinity generators.

Thats my idea, I am happy to hear yours opinion🙂

[2021-06-10 06:43] #121 closed

[2021-06-19 19:09] zdytch commented on #53
So, the feature is reverted now? I still get 0 as the first page. Using 1 over 0 as the first page seems reasonable, since the page index should be synchronized with frontend pagination component.

[2021-06-22 08:48] uriyyo commented on #53
Hi @zdytch,

It will be fixed at version `0.8.0` which will be released soon.

[2021-06-29 09:39] #40 closed

[2021-06-29 09:52] #53 closed

[2021-06-29 11:34] uriyyo commented on #53
Version `0.8.0` has been realised and it contains fix of this issue.

[2021-07-05 02:30] shazz commented on #53
Hi, ah this is what broke my existing code :)
no issue but in this case shouldn't the offset be >=1 (gt=0) and not >=0 (ge=1) ?

[code]

[2021-07-05 08:23] uriyyo commented on #53
@shazz You are totally right. I will fix it, thanks for pointing this out)

[2021-07-13 17:50] wasuaje opened #143 "__init__() missing 1 required positional argument: 'detail' (type=type_error)"
Hello everyone
I'm receiving this weird error when browsing "/api/invoice" although I followed the guide.
The only thing here is mi response schema has a field represented by another schema

Thanks in advance for the help

fastapi_pagination Version
0.8.1
FastApi Version:
[code]

[code]

Model:
[code]
Schema:

[code]
Linked Schema:

[code]

Router:

[code]

[2021-07-13 18:19] wasuaje commented on #143
I'm afraid and happy I could find the error myself
In here

Linked Schema:

[code]

this line was unused as It didn´t work

[code]
Removing this made it work

[2021-07-13 18:19] #143 closed

[2021-07-20 08:24] Alexander-N opened #147 "`exclusiveMinimum` causes problems with swagger editor and Azure API Management"
The use of `gt` to constrain the query parameters causes the openapi spec validation to fail for example in swagger editor and Azure API Management: https://github.com/tiangolo/fastapi/issues/240, https://github.com/tiangolo/fastapi/issues/3541
As workaround `ge` could be used instead, e.g.
[code]
instead of
[code]

[2021-07-20 08:47] uriyyo commented on #147
@Alexander-N Could you please open PR with fix?

[2021-07-21 08:17] #147 closed

[2021-07-21 09:19] slava-poddubsky opened #149 "DeprecationWarning: using_params is deprecated and will be removed in version 0.9.0"
is it possible to fix this warning:
[code]

[2021-07-21 09:35] uriyyo commented on #149
I will try to fix it, thanks for reporting.

[2021-07-26 12:31] ent1c3d opened #153 "Alias for `items` key - Tortoise ORM"
Hello,
I have the following code, which works fine:
[code]

But,  when I  am trying to  show output with key `data`, instead of `items`, like  it was in documentation, getting the error:
[code]
output:
[code]

Any ideas how to make alias for `items` key?

[2021-07-26 13:27] uriyyo commented on #153
Hi @ent1c3d,

`allow_population_by_field_name` config should be True to support such behavior. I will update docs. Thanks for opening this issue.

Working definition of `JsonApi`:
[code]

Please, let me know in case if it won't work.

[2021-07-26 13:43] zdytch opened #155 "Page size as paginate() argument"
The idea is to set page size in paginate() function. Maybe as an element of params.
So we could get this value from router argument or use some default size.

Something like this:
[code]

[2021-07-26 17:22] ent1c3d commented on #153
Thanks a lot @uriyyo, it really fixed my problem!

[2021-07-26 17:22] #153 closed

[2021-07-27 09:56] zdytch commented on #155
@uriyyo
Setting page size on client side is a common practice. Just a couple of screenshots from google images:
https://jochen.kirstaetter.name/content/images/2019/01/telerik_radgrid_custom_pagesize.png
https://user-images.githubusercontent.com/34887212/80689034-067cea80-8acd-11ea-8c8d-48cca138779c.png

For example, DRF allows client to send page_size as a query param:
https://www.django-rest-fram

[2021-07-27 10:04] uriyyo commented on #155
You can do it by passing `size` parameter in case of `Page` or `limit` parameter in case of `LimitOffsetPage`.

For instance:
[code]

[code]

[2021-07-27 14:30] zdytch commented on #155
@uriyyo
Hah, sorry for silly question!

[2021-07-27 14:30] #155 closed

[2021-07-27 14:30] uriyyo commented on #155
No worries)

[2021-07-29 05:48] kigawas opened #158 "SADeprecationWarning: Implicit coercion of SELECT and textual SELECT constructs into FROM clauses is deprecated;"
In `ext/async_sqlalchemy.py:23`:
[code]

[2021-07-29 05:51] uriyyo commented on #158
Thanks, will take a look.

[2021-07-29 07:41] kigawas opened #160 "Bump sqlalchemy to 1.4"
As mentioned in #159

[2021-07-29 08:46] #149 closed

[2021-07-29 08:47] #158 closed

[2021-07-29 08:51] uriyyo commented on #160
@kigawas Thanks for suggestion. I think for this moment we can set minimal version of sqlalchemy to `1.3` so people who use old version of `sqlalchemy` can still use it and it want be required to them bump version of sqlalchemy to `1.4`.

What is your opinion regarding that&

[2021-07-29 12:37] kigawas commented on #160
You can still use legacy APIs in sqlalchemy 1.4 so the difference is not that big.
I think to bump it in the next beta version (0.9?) is better.

[2021-07-30 09:42] uriyyo commented on #160
Thanks makes sense, thanks for your opinion.

[2021-08-05 10:47] satishdash opened #166 "[Question] Any plan for integration with piccolo"
Hi @uriyyo thanks for all the hardwork that has been put into this project. Would you plan on an integration with piccolo-orm (https://piccolo-orm.com/) in the coming days. We use piccolo for simplicity in its migrations and usage like django but with async capabilities.
If you get sometime to look over piccolo please do suggest any ideas you'd get on paginating a piccolo queryset with fast api.

[2021-08-05 12:33] uriyyo commented on #166
Hi @satishdash,
I will take a closer look as soon as possible.

[2021-08-06 09:53] #166 closed

[2021-08-06 10:00] uriyyo commented on #166
`piccolo` integration available at version `0.8.3`

[2021-08-06 14:05] satishdash commented on #166
thanks a lot @uriyyo . the example is also clean. it is based on limit offset pagination. can it be extended to cursor based pagination too.?

[2021-08-06 14:53] uriyyo commented on #166
It can be used with both. For cursor purposes you can use `fastapi_pagination.Page` class.

[2021-08-30 11:07] michaelbukachi opened #182 "Async pagination not working with joined eager loads"
Hi,

I'm trying to use the async pagination but it doesn't seem to work with models that have joined eager loads against collections. Take a look at the following minimal example:
[code]

if you replace this line (remove eager load options)
[code]
with
[code]
it works.
Based on this [issue](https://github.com/sqlalchemy/sqlalchemy/issues/4395) and this [commit](https://github.com/sqlalchemy/sqlalc

[2021-09-01 09:27] uriyyo commented on #182
First of all, sorry for a long response. Thanks for submitting issue. I am happy to review PR from you.

[2021-09-03 21:15] rafa761 opened #191 "How to use paginate with sqlalchemy new query syntax"
Hi

I'm trying to migrate to Sqlalchemy 1.4.23 and activate the new query syntax. But can't figure out how to use paginate function with it.

fastapi-pagination==0.8.3

[code]

The endpoint looks like this:

[code]

I'm getting this error:

![image](https://user-images.githubusercontent.com/41598843/132065495-f6d1ba5c-3140-43cc-bd54-23b5ad773c3e.png)

Also tried:

[code]

but got this:

![image](h

[2021-09-06 09:31] uriyyo commented on #191
Hi @rafa761,

Currently `fastapi-pagination` does not support `sqlalchemy` `1.14` version.
I am planing to include support at version `0.9.0`.

[2021-09-06 09:31] #182 closed

[2021-09-06 09:32] uriyyo commented on #191
It related to #160

[2021-09-06 10:00] rafa761 commented on #191
ok, thank you for your effort on the project @uriyyo

[2021-09-13 08:31] ToGoBananas commented on #191
@uriyyo hi, sorry to bother you but, do you have any ETA on the `0.9.0` version?

[2021-09-13 08:42] uriyyo commented on #191
Hi @ToGoBananas,

I plaining to release new version during this week

[2021-09-15 11:09] itsuchur opened #195 "Outdated link in docs/index.md"
Greetings

Link to OpenAPI [here](https://github.com/uriyyo/fastapi-pagination/blob/main/docs/index.md) leads to https://github.com/uriyyo/fastapi-pagination/blob/main/images/openapi_example.png which doesn't exist.

The correct link would be [this one](https://github.com/uriyyo/fastapi-pagination/blob/main/docs/images/openapi_example.png).

[2021-09-15 11:13] uriyyo commented on #195
Yup, that a bug. Thanks for pointing on this.

[2021-09-22 10:01] #191 closed

[2021-09-22 10:11] #195 closed

[2021-09-23 07:56] #160 closed

[2021-09-23 09:59] hacen-ai opened #201 "SQLModel integration"
Hello, Do you have any plane to integrate tiangolo orm [SQLModel](https://github.com/tiangolo/sqlmodel) . If yes have you any ETA.

THanks for the great work.

[2021-09-23 10:51] uriyyo commented on #201
Hi @hacen-ai,

Yup, I am planning to do it in the next release.

My ETA - one week.

[2021-09-25 13:15] #201 closed

[2021-09-26 09:16] uriyyo commented on #191
Hi @ToGoBananas,
Version `0.9.0` has been released.

[2021-09-26 09:16] uriyyo commented on #201
Hi @hacen-ai,
Version 0.9.0 has been released.

[2021-09-26 09:18] hacen-ai commented on #201
You are doing great job man.
Thank you for your work

[2021-09-27 19:17] Sibbern opened #206 "custom parameter to replace "total" field on Page"
I'm trying to replace the "total" field in fastapi-pagination because I'm querying a database that has query limitations.

The database is limited to showing more than 1000 rows. To be able to see all the results without querying I have to create a function that counts all the rows in the table and pass it to the "total" field.

Is this possible and if yes, how?

Any help appreciated.

[2021-09-28 12:51] Sibbern commented on #206
Thank you for your answer.

Maybe I'm missunderstanding your response but I'm not trying to customize the size of the pages but rather the total results for all pages.

[code]

I get a limited query from dynamodb which is always a fixed number. It can be a 1000 or 100. In either case, rows over the limit, wont get shown in the "total" field that your package adds.

I've added pagination for the dy

[2021-09-28 13:22] uriyyo commented on #206
I see, sorry, you can forget about my previous comment)

I would recommend you to define your own `paginate` function:
[code]

Usage of `paginate`:
[code]

Let me know in case of any questions.

[2021-09-28 14:15] Sibbern commented on #206
Currently getting an error when I run your code:

[code]

I haven't been able to solve it yet but I see where you're going.

Seems it not allowing the Page[Any] as response model.

[2021-09-28 15:06] uriyyo commented on #206
Sorry, I made a mistake. I have updated code, could you please try again?
https://github.com/uriyyo/fastapi-pagination/issues/206#issuecomment-929205285

[2021-09-29 14:17] Sibbern commented on #206
Seems it parsing the wrong parameters to my dynamodb function:

`    raise TypeError(msg)
TypeError: Unsupported type "<class 'fastapi.params.Query'>" for value "extra={}"
`

Custom pagination:

[code]
My routes:
[code]

Thank you for helping again.

[2021-10-16 12:02] sakthiRathinam opened #217 "add previous and next page which is available or not"

[2021-10-17 15:01] uriyyo commented on #217
In case if `prev` or `next` page is not available you will receive `None` as a value.

[2021-10-19 09:48] sakthiRathinam commented on #217
but  im nt getting anything like prev or next

[2021-10-19 09:51] sakthiRathinam commented on #217
@clinto_router.get('/paginateMedicines', response_model=Page[GET_Medicine])
async def paginate_mediciens(request: Request) -> any:
    medicines = await paginate(Medicine.all())

im using fastapi and tortoise-orm

[2021-10-20 02:40] ScrimForever opened #218 "Problem with sqlalchemy ."
async def search_offertypes(order: bool = False, parameter: OffertypeList = Depends(),
                            db: Session = Depends(get_db)) -> Any:
    return paginate(db.query(OfferType))

output:

TypeError: object of type 'Query' has no len()

[2021-10-21 12:09] uriyyo commented on #218
How route registration looks like?

[2021-10-21 12:15] uriyyo commented on #218
I cann't see how `search_offertypes` is registred at `offer_router`

[2021-10-21 12:16] ScrimForever commented on #218
import time
from fastapi import APIRouter, Depends
from typing import Any, List
from sqlalchemy.orm import Session
from offertype.core.utils import get_db
from offertype.models import OfferType
from fastapi.responses import JSONResponse
from offertype.schemas import OffertypeCreate, OffertypeList, OffertypeUpdate
from fastapi.requests import Request
from fastapi.exception_handlers import HTTPExcep

[2021-10-21 12:18] uriyyo commented on #218
Try update code to (bassically you should set `response_model`):
[code]

[2021-10-21 12:29] ScrimForever commented on #218
I i use any Pydantic models inside Page, this happen

[2021-10-21 12:42] #218 closed, assigned to uriyyo

[2021-10-21 12:44] uriyyo commented on #218
No problem, happy you that you resolve your issue)

[2021-10-22 09:02] alexdyck opened #219 "Performance issues due to offset/limit paradigm on PostgreSQL database"
#### Issue description
[This line](https://github.com/uriyyo/fastapi-pagination/blob/main/fastapi_pagination/ext/sqlalchemy.py#L16) slows down SQL queries on PostgreSQL 11 significantly as it changes the execution plan.

#### Steps to reproduce the issue

1.  Create data
[code]
2. Compare execution plan of query
[code]
vs
[code]
3. (or alternatively load more data in the tables and observe the sig

[2021-10-22 15:09] #217 closed, assigned to uriyyo

[2021-11-06 01:27] maralexruiz opened #224 "Problem with LimitOffsetPage, LimitOffsetParams and paginate"
Hi!,

I have something like this:
[code]

But, when i call it, it raise an error **ValueError: Page should be used with Params**

Using Page and Params works fine, i got the error only when I use LimitOffset

[code]

[2021-11-06 11:27] uriyyo commented on #224
Did you use `add_pagination`?

[2021-11-07 03:35] maralexruiz commented on #224
O right, i didn't, but what exactly does add_pagination and why it works with Page and Params, but not whit LimitOffset?

Will use add_pagination affect all the endpoints?, I only use pagination in one single endpoint. so i try to avoid implement it in every single one. Specialy since our main.py looks li this.
[code]

[2021-11-07 19:28] uriyyo commented on #224
`add_paganation` will affect only those endpoints that are using any `Page` as a response model.

You should add `add_pagination` as a last step of a app creation:
[code]

[2021-11-08 02:34] maralexruiz commented on #224
Okay then, that's work for me.
Thanks.

[2021-11-08 02:34] #224 closed

[2021-11-08 09:44] kishvanchee opened #226 "Pagination fails for a generator because "total" is not allowed to be None"
Hi :) Thank you for the library. I am facing an issue which I hope you could help me out.

This is my script

[code]

Here's the traceback
[code]
https://github.com/uriyyo/fastapi-pagination/blob/31a286209878e3caf2b666004fc557ec2e6e3ab3/fastapi_pagination/default.py#L34

https://github.com/uriyyo/fastapi-pagination/blob/31a286209878e3caf2b666004fc557ec2e6e3ab3/fastapi_pagination/bases.py#L89

The

[2021-11-08 19:34] uriyyo commented on #226
Looks like you forget to add `add_pagination` and also you should use not default `Page`. Could you please try to use code bellow:
[code]

[2021-11-09 06:50] kishvanchee commented on #226
Thank you. Your code snippet worked. But I do have a question on why one piece of code works over the other.

This works
[code]
This does not work and I still get the same error as above.
[code]
Can you please help me understand why the second snippet does not work? My understanding from the [docs](https://uriyyo-fastapi-pagination.netlify.app/first-steps/) is that

So why does the first snippet w

[2021-11-09 06:55] uriyyo commented on #226
@kishvanchee It's because of outdated docs(

In order to add pagination to your application, you must call `add_pagination` on a `FastAPI` instance.

You see this error because by default `fastapi_pagination.Page` class is used, to change this behavior `add_pagination` must be called.

[2021-11-09 07:06] kishvanchee commented on #226
@uriyyo You're right. When I add `add_pagination` it works for the MWE. Please let me know if you require assistance updating the docs. I can raise a PR.

Thank you for your help :)

[2021-11-09 07:06] #226 closed

[2021-11-09 07:29] kishvanchee commented on #226
@uriyyo If I understand correctly, by default it works for `fastapi_pagination.Page` but does not work for `iterables.Page` unless I add `add_pagination` to make `iterables.Page` to work. I ask because according to the example in the docs, by default it works without `add_pagination` [first snippet here in docs](https://uriyyo-fastapi-pagination.netlify.app/first-steps/)

[2021-11-09 08:03] uriyyo commented on #226
@kishvanchee Yup, it works exactly as you said.

[2021-11-10 11:15] afanasevps opened #228 "TypeError: typing.ClassVar[typing.Type[fastapi_pagination.bases.AbstractParams]] is not valid as type argument"
does work with python3.9.8
[code]

[2021-11-10 13:07] uriyyo commented on #219
@alexdyck Thanks, will take a closer look and will try to implement approach as you described

[2021-11-10 13:12] #228 closed

[2021-11-10 16:55] ets opened #230 "Fix the buy a coffee link"
Appreciate today's update.  Tried to buy you a coffee but kept getting denied by Paypal & error message wasn't helpful.  Maybe look at Patreon or a Nano wallet?

[2021-11-10 17:20] uriyyo commented on #230
Hi @ets,

I really appreciate it, but for me is enough that people are using my libraries. It's always a big pleasure to receive messages like this.

But anyway I replaced `buy me a coffee` with `patreon`. Here is a link to `patreon` - https://patreon.com/uriyyo

[2021-11-11 12:05] stealthrabbi opened #231 "Examples don't show how to provide pagination options"
Unless I'm missing something, I don't see how the caller provides the pagination values for the limit and page number. I feel that without this, it's unclear how the user provides the pagination options.

This SO post, however, shows the Pagination Options param. https://stackoverflow.com/questions/60152442/does-fastapi-contrib-has-paginator-for-postgresql/64720717#64720717

[2021-11-11 12:45] stealthrabbi opened #232 "can't run sqlalchmey example."
I'm attempting to run this example: https://github.com/uriyyo/fastapi-pagination/blob/main/examples/pagination_sqlalchemy.py

It tells me:

[code]

I've tried `pip install pagination_sqlalchemy`, but that tells me:

[code]

I previously ran `pip install fastapi-pagination[all]` to pull in this library.

[2021-11-11 12:45] #232 closed

[2021-11-11 12:46] stealthrabbi commented on #232
sorry, please ignore. I made the file name different

[2021-11-11 12:59] ykarabas-nf commented on #231
Hi @stealthrabbi,

No need to pass params explicitly, it will be done behind the scene.

So this code:
[code]

Is rawly equal to:
[code]

Docs are outdated, I don't have a time to update them(

[2021-11-11 13:03] uriyyo commented on #231
Hi @stealthrabbi,

No need to pass params explicitly, it will be done behind the scene.

So this code:
[code]

Is rawly equal to:
[code]

Docs are outdated, I don't have a time to update them(

[2021-11-11 14:51] stealthrabbi commented on #231
Thanks, so does add_pagination only affect rest methods that have a response model that includes a Page?

[2021-11-11 14:54] uriyyo commented on #231
Yup, exactly.

Basically, it's add additional dependency to road that handles params depending on Page type.

[2021-11-14 09:05] #230 closed

[2021-12-02 12:26] rushilsrivastava commented on #228
This still seems to happen on Python 3.9.9 - I'm guessing this is a problem with [Pydantic](https://github.com/samuelcolvin/pydantic/issues/3401), and not this library though.

[2021-12-02 12:30] uriyyo commented on #228
Yup, it's a pydantic issue.

But this issue should not be present anymore because `fastapi-pagination` version `0.9.1` contains a workaround.

[2021-12-05 02:00] Reszkettle opened #242 "Support for related objects in TortoiseORM"
Does this package support related objects in TortoiseORM?
For example, paginating a list of books where each book has its author's foreign key.

Code example:
[code]

[2021-12-05 13:42] Reszkettle commented on #242
For everyone struggling with this problem. You can just use `prefetch_related` with names of all related objects that you also want to fetch.

However it would be a great enhancement if this library could make it ootb.

[2021-12-06 08:55] #242 closed

[2021-12-07 12:46] rushilsrivastava commented on #228
Maybe I am doing completely wrong here - using the latest version, all my `pytest` fail with the error above, but the code will run. The only way to fix the `pytest` errors is by using the latest master version of `pydantic`, but that introduces other breaking changes in my code.

I'm using a custom page setup, not really sure what I'm missing here.

[2021-12-07 13:12] rushilsrivastava opened #246 "[SQLAlchemy] Should the total be the count of query or length of resulted mappings?"
In the [code](https://github.com/uriyyo/fastapi-pagination/blob/main/fastapi_pagination/ext/sqlalchemy.py#L29), the `total` parameter is defined as:

[code]

Shouldn't this be `len(query.all())` instead? My understanding is that for someone who is consuming this API, the total returned instances isn't important because the API is only dealing with mapped object.

[2021-12-07 20:55] uriyyo commented on #246
I am not sure about this one.

The purpose of `total` is to show total number of available entities.

[2021-12-07 21:49] rushilsrivastava commented on #246
Yes. I'm the case of a query join, this would show more results Than the entities that would be paginated. When using length, it would show only the length of the paginated entities.

[2021-12-08 12:52] AntonGsv opened #248 "How to override the pagination page format"
Default format:
[code]
The format I wish to receive:
[code]
Can you please tell me how to get the desired response format?

[2021-12-08 21:06] uriyyo commented on #246
That's a bug but `len(query.all())` will lead to a performance issue cause it will load all available rows.

[2021-12-08 21:19] uriyyo commented on #248
Hi @AntonGsv,

You can implement custom `Page` type, smth like this:
[code]

[2021-12-09 09:30] #248 closed

[2021-12-15 07:22] Ed-XCF opened #250 "remove le=100 in LimitOffsetParams"
In some case, we need return more data......

[2021-12-15 08:51] uriyyo commented on #250
You can always create custom `Page` and `Params`. Easy option will be to use `with_custom_options` classmethod:
[code]

[2021-12-15 09:46] Ed-XCF commented on #250
Thank you !

[2021-12-15 09:58] Ed-XCF commented on #250
Got an exception "TypeError: Cannot parameterize a concrete instantiation of a generic model"

[2021-12-15 10:02] uriyyo commented on #250
Please, provide code so I can reproduce this issue on my side.

[2021-12-15 12:08] tiru1930 opened #251 "How to make external api call on paginated data"
I have fastapi service which is using fastapi-pagination, now it the service returns paginated response , Now i want for each page i need to make external api call to get some metadata and fill the response under the same api call , is this possible?

[2021-12-16 10:09] Ed-XCF commented on #250
The code is ok in my server, I will check my local env

[2021-12-16 10:09] #250 closed

[2021-12-30 04:01] Tirth27 opened #256 "Query Specific Column only"
Hi There,

Currently, the `fastapi-pagination` library returns all the columns in a table.

But rather than getting all the column from the table, can we specify only required columns? as I have table with more than 50 columns. So, I wanted to filter only required columns from the table using the query parameter from the API endpoint. Similar to [`q` in the fast api documentation. NOTE: Try Openin

[2021-12-30 12:51] rushilsrivastava commented on #246
Closing this because this is just a matter of optimizing queries.

[2021-12-30 12:51] #246 closed

[2022-01-01 00:23] Tirth27 commented on #248
Hi @AntonGsv

I want to customise the paginated response to following format:

[code]

When I used the snippet that you have provided it gives me `AttributeError`
`AttributeError: 'dict' object has no attribute 'to_raw_params'`

and the `detail` is something that I am appending to the query result. So how should I use that with `paginate`?

[code]

How should I used the `custom["detail"]` dict wit

[2022-01-01 09:07] uriyyo commented on #251
Hi @tiru1930,

Could you please provide minimal example so I can understand what you need.

[2022-01-01 09:13] uriyyo commented on #231
https://uriyyo-fastapi-pagination.netlify.app/first-steps/

[2022-01-01 09:13] #231 closed

[2022-01-01 09:46] uriyyo commented on #256
Hi @Tirth27,

As an option, you can define a model with a custom `root_validator` that will convert objects into mapping and will include only loaded columns. Example:
[code]

[2022-01-01 09:49] uriyyo commented on #80
I will close this one, you can open it in case if you will have more ideas.

[2022-01-01 09:49] #80 closed

[2022-01-01 13:02] tiru1930 commented on #251
Hi

It's fixed ,please close the ticket,  I have just made api call  to get
extran info on paginated items.

On Sat, Jan 1, 2022, 2:38 PM Yurii Karabas ***@***.***> wrote:

[2022-01-01 13:05] #251 closed

[2022-01-02 23:51] Tirth27 commented on #256
Amazing @uriyyo 😃, Thank you.

Currently, the `columns` field is compulsory in the Query parameter. I try to make it Optional so that if I do not select any value from the `columns` it will give me all the columns (by default). But was not able to configure, do you have any thoughts/suggestion on that?

Also, I have a table with more than 50 columns. And if I used the method you mention I have to

[2022-01-03 07:42] uriyyo commented on #256
@Tirth27 you can create function that will extract field names from your pydantic model.

For instance:
[code]

[2022-01-04 12:21] uriyyo commented on #256
I will close this issue, in case if you have more questions please reopen this issue.

[2022-01-04 12:21] #256 closed

[2022-01-08 06:56] gikpro opened #264 "Add links object in the Page class of fastapi-pagination"
Need something like that in fast-pagination.
This is a example from Flask, but this code will not work in fastapi for now.
[code]

[2022-01-08 09:43] uriyyo commented on #264
Hi @gikpro,
It's already implemented. You should import `Page` from `fastapi_pagination.links`:
[code]

[2022-01-08 18:43] gikpro commented on #264
Oh great ! Thanks you.

[2022-01-08 18:47] gikpro commented on #264
Hi @uriyyo , the documentation must have this information.

[2022-01-08 18:53] uriyyo commented on #264
I know, don't have time to update docs(

[2022-01-08 21:02] uriyyo opened #265 "[NEED HELP] 📃 Update docs"
Documentation should be updated.

Topics that should be covered:
- [x] General information
- [x] Customization
- [x] Features
- [x] Integrations
- [ ] Examples
- [ ] sqlachemy extension details

Missed features docs:
- [ ] Additional data
- [ ] Items transformers

Related issue:
#273
#269
#264

Library has bad documentation and I am not good at documentation writing.  It will be great if somebody

[2022-01-20 20:00] david-shiko opened #269 "What this code?"
Please, provide a demo in readme.md or post a picture at least :)

[2022-01-21 07:53] uriyyo commented on #269
@david-shiko Could you please provide more context? It's not clear to me what should be added.

[2022-01-21 16:37] jmbledsoe opened #270 "Migration from Deprecated APIs"
I am currently being bit by https://github.com/uriyyo/fastapi-pagination/issues/228, and so I'm looking to upgrade to the latest version of `fastapi-pagination`. However, the code I'm working on makes use of the previously deprecated, now removed decorator `use_as_page` and function `using_params`. How do you recommend migrating away from those to the new API. Is there a document that describes th

[2022-01-22 09:19] david-shiko commented on #269
I mean what this code intended for
Examples:
https://github.com/marirs/fastapi-boilerplate#fastapi-biolerplate
https://github.com/utmhikari/start-fastapi#start-fastapi
https://github.com/python-telegram-bot/python-telegram-bot/tree/v14#readme

[2022-01-22 09:40] uriyyo commented on #269
I see, will add general information to `README.md`. Thanks for the issue.

[2022-01-27 04:00] fsnlarson opened #273 "Performance issues with paginate()"
This may be helpful for people.

The `paginate` function runs into severe performance issues when the datasets are in the thousands.

We are using fastapi_pagination with SQLAlchemy and with a result of 8000 records. Since `paginate` requires a `Sequence` we must load the entire query result into memory and then `paginate` slices the result. Avg. response time above 1 second.

## `paginate` functi

[2022-01-27 08:01] uriyyo commented on #273
Hi @fsnlarson,
Did you try to use `fastapi_pagination.ext.sqlalchemy.paginate`? It looks almost the same as your solution:
https://github.com/uriyyo/fastapi-pagination/blob/5a9ad788b2fbc5e34380e4b24a519921b4d52ab9/fastapi_pagination/ext/sqlalchemy.py#L14-L32

[2022-01-27 13:56] fsnlarson commented on #273
That extension is the right solution. The docs should maybe be updated to show an example of using an extension.

[2022-02-03 20:52] carlosfunk opened #275 "JSON:API example with response_model_by_alias=False"
I have implemented the example JSON:API from the docs to change the result key to `data`, but unfortunately a lot of my apis also use `response_model_by_alias=False` which changes this back to `items`.  Is there another way around this?  Could I use one of the other examples in the customization docs?  Any help would be appreciated.  Thanks!

[2022-02-05 07:44] #269 closed

[2022-02-05 07:44] #264 closed

[2022-02-05 07:44] #273 closed

[2022-02-05 07:55] uriyyo commented on #270
Hi @jmbledsoe,

Sorry for the long response.

You should remove them and simply call `add_pagination` with your `FasAPI` application instance after you register all routers.

Example:
[code]
Will be migrated to:
[code]

[2022-02-05 08:57] uriyyo commented on #275
Hi @carlosfunk,

As an option you can create custom page:
[code]

I will try to implement some easy obvious way to customize items field name.

[2022-02-09 07:42] vmisiko opened #278 "Using Params as body params in get request is not working."
Hi,
am getting the error below when i try to get data using Param body request.
TypeError: Failed to execute 'fetch' on 'Window': Request with GET/HEAD method cannot have body.

Below is my code
[code]
 According to the documentation, when i use paginate option, i can pass the params as follows.
[code]

Could the documentation be wrong?

This worked for me.
[code]

[2022-02-09 21:00] uriyyo commented on #278
You missed `Depends` in `Params` decl:
[code]

[2022-02-16 04:29] david-shiko commented on #269
Thanks but your example show **how** to use a repo but does not answer **why** to use. This's required for these are doesn't know what is _pagination_ in the context of Fastapi (like me)

[2022-02-16 07:47] uriyyo commented on #269
@david-shiko I will add this information in scope of #265

[2022-03-02 16:34] leechenghan opened #283 "Can't get SqlAlchemy example to work"
I'm following the SqlAlchemy tutorial but keep getting this error

`TypeError: object of type 'Query' has no len()`

Here's my code

[code]

 When I add an `.all()` to the end of my query object, it works.

Also, does this library actually help create the pagination query in the SqlAlchemy query builder? Or is it simply paginating whatever results the query returns?

e.g. does it actually add `.li

[2022-03-04 18:40] uriyyo commented on #283
You should use `pagination` from `fastapi_pagination.ext.sqlalchemy`:
[code]

Working example - https://github.com/uriyyo/fastapi-pagination/blob/main/examples/pagination_sqlalchemy.py

P.S. Russia  invaded my country Ukraine, I am not able to respond and it can be my last reply😟

[2022-03-05 10:24] Tirth27 commented on #248
Hi @uriyyo

I want to customise the paginated response to the following format:

[code]

When I used the snippet that you have provided it gives me `AttributeError`
`AttributeError: 'dict' object has no attribute 'to_raw_params'`

and the `detail` is something that I am appending to the query result. So how should I use that with `paginate`?

[code]

How should I use the `custom["detail"]` dict wi

[2022-03-08 09:46] opyate commented on #283
🇺🇦 + 🇪🇺   We stand with you, my friend 👍🏻

[2022-03-08 13:50] leechenghan commented on #283
I hope peace returns to the region soon 🙏

[2022-03-11 04:43] qmffkem commented on #265
Hello. Is this for the case where you want to do perform get request that returns list of data so you cut the data in certain size and return to the user? like.. the pagination in API request?

[2022-03-13 02:53] boltonn opened #285 "ElasticSearch support"

[2022-03-23 08:00] wu-clan opened #294 "What should I do if I want to do multi table joint query?"
example, i using manytomany, i want to query the information of two tables together

[2022-03-25 21:32] marxyes opened #296 "How to change defualt Page Schema? ( Custom Page)"
I want to change this default schema to the below Custom schema with support also support dynamic custom Sucess message. TIA

Default Schema
[code]

Custom Schema
[code]

[2022-03-26 11:22] marxyes opened #297 "How to pass kwargs arguments in MOTOR example ? How can I pass project={"name": 1} or sorting param?"
Hi team ,
Can anyone help me with how to use , **kwargs  in paginate(),
I want to give sort filed and I want only include fields using **project={"name": 1}**

[2022-03-31 20:30] ikkysleepy opened #300 "Items are being limited to 6 fields from the Model"
I am using sqlalchemy and am having problems with the item response model. It is being limited to 6 fields and not all 60 fields. This seems to be the max fields, is this a bug or can I include all of the fields?

Here is the Model
[code]

and here is the Schema:
[code]

This is the response:
[code]

Here is the Output, which has the correct model
[code]

[2022-04-02 08:29] uriyyo commented on #300
Hi @ikkysleepy,

Could you please show your route declaration?

[2022-04-02 09:05] uriyyo commented on #294
There should be no problem. Please, see this example:
[code]

[2022-04-02 09:10] uriyyo commented on #297
HI @marxyes,

Sorry for the long response.

If you want to filter, you should use `query_filter` parameter:
[code]

This integration was done by @zsltg.
@zsltg Could you please help with this question?

[2022-04-02 09:17] ikkysleepy commented on #300
Yeah, here is not working / working
[code]

for some reason the response model is breaking the response. I haven't tried to make my own pydantic schema, but that could be a work around. Thx

[2022-04-02 09:26] uriyyo commented on #300
Great, it's good practice to use `response_model`. It will generate a nice OpenAPI schema for you.

[2022-04-02 09:26] #300 closed

[2022-04-02 09:38] uriyyo commented on #296
Please, use this example:
[code]

[2022-04-06 12:40] LidorAmitay opened #303 "How to return just data without other metadata ?"
Hi, I have 2 questions:

1. Is that possible to return just the content of the page (just "items" from the default schema, without the key)?
2. Is that possible to start counting the pages from 0 instead of 1?

For example, for page 0 size 2:

[code]

[2022-04-09 11:04] wu-clan commented on #294
@uriyyo it's working, very nice, thank you for your answer

[2022-04-09 11:17] #294 closed

[2022-04-09 13:46] uriyyo commented on #303
Hi @LidorAmitay,

Sure, you should define your own page:
[code]

Usage:
[code]

[2022-04-09 13:47] uriyyo commented on #297
@marxyes I am closing this issue. Please, reopen it in case of any issues.

[2022-04-09 13:47] #297 closed

[2022-04-09 13:47] uriyyo commented on #296
@marxyes I am closing this issue. Please, reopen it in case of any issues.

[2022-04-09 13:47] #296 closed

[2022-04-09 13:48] uriyyo commented on #283
@leechenghan I am closing this issue. Please, reopen it in case of any issues.

[2022-04-09 13:48] #283 closed

[2022-04-09 13:49] uriyyo commented on #278
@vmisiko I am closing this issue. Please, reopen it in case of any issues.

[2022-04-09 13:49] #278 closed

[2022-04-09 13:50] uriyyo commented on #275
@carlosfunk I am closing this issue. Please, reopen it in case of any issues.

[2022-04-09 13:50] #275 closed

[2022-04-09 13:51] uriyyo commented on #270
@jmbledsoe I am closing this issue. Please, reopen it in case of any issues.

[2022-04-09 13:51] #270 closed

[2022-04-09 13:53] uriyyo commented on #303
@LidorAmitay I am closing this issue. Please, reopen it in case of any issues.

[2022-04-09 13:53] #303 closed

[2022-04-09 13:55] uriyyo opened #304 "Move extensions to separate packages"
Extensions:
- [ ] async_sqlalchemy
- [ ] async_sqlmodel
- [ ] asyncpg
- [ ] databases
- [ ] django
- [ ] gino
- [ ] mongoengine
- [ ] motor
- [ ] orm
- [ ] ormar
- [ ] piccolo
- [ ] sqlalchemy
- [ ] sqlalchemy_future
- [ ] sqlmodel
- [ ] tortoise

[2022-04-09 14:30] LidorAmitay commented on #303
Works perfectly,
Thanks!

[2022-04-10 06:46] marxyes commented on #297
Ok sure , thanks for reply

[2022-04-11 22:43] marxyes opened #305 "I am facing bellow issue with geeting count of geosptial query on mongo , is there any solution ? while using paginate"
pymongo.errors.OperationFailure: $geoNear, $near, and $nearSphere are not allowed in this context, full error: {'ok': 0.0, 'errmsg': '$geoNear, $near, and $nearSphere are not allowed in this context', 'code': 2, 'codeName': 'BadValue'}

[2022-04-11 22:49] ikkysleepy commented on #300
Why was this ticket closed? it was never resolved.

[2022-04-11 23:14] ikkysleepy opened #306 "Wrong Pagination items from query , on various pages, for query with Out of Order Items"
I am getting the wrong pagination items on various pages, which is a bit concerning.

here is the query:
[code]

Here is the function:
[code]
The query can include various filters and is dynamic.

The items on various pages overlap with on item on other pages. Here is one item on page 5:
![image](https://user-images.githubusercontent.com/1915449/162846558-20becffe-26bc-4a33-86ff-9b9f7aeddb04.png)

[2022-04-12 06:22] uriyyo commented on #300
@ikkysleepy I thought that you resolved this issue on your own. Please, reopen it, if the issue is still present.

[2022-04-12 20:27] jordan-carson opened #308 "Question: add_pagination(app)"
In the example provided for sqlalchemy / postgres it requires to include the below statement before dunder main.

`
add_pagination(app)
`

This sends the entire application, how can we go about including only a subset of all endpoints? Should we create an APIRouter() for the 2 methods that require pagination?

Please share feedback and thoughts!

[2022-04-14 06:21] uriyyo commented on #308
Hi @jordan-carson,

No need to worry about this one. Only endpoints that use `Page` subclass as a `response_model` will be affected, all others will be untouched.

So it's safe to call `add_pagination` on `FastAPI` instance.

[2022-04-14 08:01] anye88 opened #309 "Error using fastapi middleware and fastapi-pagination together"
## error
[code]
## test code

[code]

[2022-04-14 08:21] uriyyo commented on #309
Hi @anye88,

Could you please provide versions of the packages and python that you are using?

I can't reproduce this issue with latest `fastapi-pagination` version and python `3.9.7` version.

[2022-04-14 10:10] anye88 commented on #309
[code]

[2022-04-14 10:15] uriyyo commented on #309
Looks like it's some `fastapi` issue. I can't reproduce it with latest `fastapi` version.

[2022-04-16 13:52] #309 closed

[2022-04-16 13:56] uriyyo commented on #309
@anye88 This issue has been fixed. Please, use `0.9.3` version.

[2022-04-17 20:02] Cimmanuel commented on #297
@uriyyo sorry to bother you, but I think I need more explanation as regards what is what in `{"project": {"name": 1}}`. I also need to filter, but this isn't clear.

[2022-04-25 07:05] uriyyo commented on #308
@jordan-carson I am closing this issue. Please, reopen it in case of any issues.

[2022-04-25 07:05] #308 closed

[2022-05-01 22:54] thebleucheese opened #315 "SQLModel: Many-to-many relationship data dropped when paginating"
This is similar to https://github.com/uriyyo/fastapi-pagination/issues/294

However, when using SQLModel the relationship data is dropped. I'm always getting null for tags in my FastAPI response.

The queries seem fine. If I remove pagination, a simple unpaginated List of CustomerViews contains the tags.  Maybe I'm doing something wrong with the model setup?

Excuse typos / weirdness. I had to pul

[2022-05-04 12:22] ljbuza opened #316 "Json field issues"
Paginating output that has a field of type "Json" throws a validation error of:

[code]
As a test, I changed the field type to "str"  and it will output the field values, but escaped (i.e., "{\"field\": \"value\"}").  This endpoint was properly working with the Json field type prior to implementing pagination.

Running:
Python 3.8.9
fastapi                   0.75.2
fastapi-pagination        0.9.3

[2022-05-05 18:06] uriyyo commented on #316
Hi @ljbuza,

Could you please show a minimal example to reproduce this issue?

[2022-05-05 18:07] uriyyo commented on #315
Hi @thebleucheese,

I will take a closer look

[2022-05-05 18:09] thebleucheese commented on #315
Thanks!

I'll try to dig into it some more this weekend to see if I can find a fix unless you beat me to it.

PS - I love the project, it's helped a lot with my first foray into using FastAPI

[2022-05-06 05:44] ljbuza commented on #316
[code]

Create a couple jobs, then GET "/jobs" will work, but the paginated one, "/job_pg" will fail with the error:

[code]

[2022-05-06 16:37] uriyyo commented on #316
@ljbuza Looks like it's `pydantic` issue. If you change `get_jobs` endpoint to return `pydantic` model instead of `orm` model you will receive the same error:
[code]

Looks like `pydantic` doesn't allow to use valid JSON object as a value for a `Json` field, it should be always a sting-like object.

As a workaround you can define temp model and use it:
[code]

[2022-05-06 17:07] uriyyo commented on #315
Hi @thebleucheese,

It will be great if you can provide a minimal working example that I can locally. Currently, I can't help with code that you provided(

[2022-05-06 17:36] ljbuza commented on #316
Thank you very much for the workaround, it'll help me to keep going with my work.

However, strangely, this works:

[code]

but run it via fastapi  and it doesn't:

[code]

[2022-05-06 19:03] uriyyo commented on #316
I will close this issue. Please, reopen it in case of any problems.

[2022-05-06 19:03] #316 closed

[2022-05-09 12:53] northtree opened #318 "How to generate pagination control for Jinja2"
Similar to flask-paginate: https://github.com/lixxu/flask-paginate/blob/master/flask_paginate/__init__.py#L634

[2022-05-12 05:53] kamalyes opened #319 "An error occurs when the LimitOffsetParams value does not exist in the Model"
[code]
[code]

[2022-05-12 06:31] kamalyes opened #320 "pagination_async_sqlalchemy.py 使用datetime类型时报错"
modles:
[code]
schema:
[code]
crud:
[code]
service:
[code]
File "limit_offset.py", line 50, in create
    return cls(
  File "pydantic\main.py", line 331, in pydantic.main.BaseModel.__init__
pydantic.error_wrappers.ValidationError: 2 validation errors for LimitOffsetPage[QueryUserModel]
items -> 0 -> create_time
  str type expected (type=type_error.str)
items -> 0 -> update_time
  str type expecte

[2022-05-12 07:12] kamalyes commented on #320
![image](https://user-images.githubusercontent.com/40486003/168012500-af7cb4eb-7fc6-4a4f-8591-74b69858cc26.png)
![image](https://user-images.githubusercontent.com/40486003/168012525-29d84b33-4744-4e84-97a0-852b5b715b24.png)
![image](https://user-images.githubusercontent.com/40486003/168012570-a9a893e7-9604-4962-986b-7eae8cb6337d.png)
![image](https://user-images.githubusercontent.com/40486003/1680

[2022-05-15 23:24] thebleucheese commented on #315
Hey, here's an example. You can see the difference between the List and Page endpoints.

**pyproject.toml**
[code]

**main.py**
[code]

run with `uvicorn main:app`

[2022-05-16 21:10] brvoisin opened #321 "Custom links in the page"
Hello,

I modified the example from the README to have links in the response.

[code]

It works as you can see below:

[code]

[code]

I would like to add a custom link and add the method to all links like this:

[code]

Do you know how to do that?

[2022-05-22 20:12] thebleucheese commented on #315
@uriyyo

There's a really simple work-around to get this working.  If you convert the pagination result to a dict before returning from the route, it works:

[code]

I have a feeling this is a FastAPI issue, but I'm not familiar enough with FastAPI's internals to make a definitive call. The problem appears to be related to FastAPI's `jsonable_encoder` function. I've described some testing and debu

[2022-06-04 19:42] wu-clan commented on #320
This should be a pydantic type verification problem, your `create_time`, `update_time` Columns use `DATETIME`,but in your schema you use `Optional[str]`, you should be use `Optional[datetime]`

[2022-06-05 02:09] kamalyes commented on #320
Thank you. The problem has been solved.

[2022-06-05 02:09] #320 closed

[2022-06-05 07:54] uriyyo commented on #320
@wu-clan Thanks for your help, appreciate it

[2022-06-05 11:36] uriyyo commented on #321
Hi @brvoisin,

Sorry for the long response. You can define your custom page with links:
[code]

Full working example:
[code]

[2022-06-05 11:45] uriyyo commented on #319
Hi @kamalyes,

That is the expected behavior of pydantic. You can mark certain fields as optional to omit errors like this:
[code]

Fully working example:
[code]

[2022-06-05 12:08] uriyyo commented on #318
Hi @northtree,

You can add a property to `Page` class with rendered HTML code. Minimal example:
[code]
Template file `templates/users.html`:
[code]

It will generate pages like this:
<img width="457" alt="image" src="https://user-images.githubusercontent.com/32038156/172049675-af209926-2f15-4012-85e9-5b4733397515.png">
<img width="450" alt="image" src="https://user-images.githubusercontent.com/32

[2022-06-05 12:10] uriyyo commented on #315
@thebleucheese Thanks for such a detailed investigation. I will close this ticket. Please, reopen it in case you still have some issues.

[2022-06-05 12:10] #315 closed

[2022-06-05 12:11] uriyyo commented on #305
Hi @marxyes,

I am not an expert on `mongo`(
Maybe someone who has created `mongo` extension can help with it.

[2022-06-06 01:37] kamalyes commented on #319
Thank you for your help. The problem has been solved

[2022-06-06 01:54] #319 closed

[2022-06-12 00:33] johnziebro commented on #304
Possibly include [Beanie](https://roman-right.github.io/beanie/) which seems like an excellent candidate in that it extends Motor and Pydantic and works well with FastApi.

[2022-06-13 08:28] brvoisin commented on #321
Thank you for your help.

[2022-06-13 08:28] #321 closed

[2022-06-23 07:14] glu0516 opened #329 "How to use order by id"

[2022-06-24 07:27] nikstuckenbrock commented on #305
Hi @marxyes,

I think there is no integration for pymongo yet.
I've created PR #330 to add it.
A quick solution would be to use [Motor](https://github.com/mongodb/motor/) or [Mongoengine](https://github.com/MongoEngine/mongoengine) instead of pymongo.
Hope this helps.

[2022-06-27 14:26] nikstuckenbrock commented on #329
Hi @glu0516,

could you provide a little more context?
What type of database do you use?

[2022-06-28 01:38] glu0516 commented on #329
MySQL Database

sql：SELECT * from table order by id desc limit 10 OFFSET 10

[2022-06-28 02:08] glu0516 commented on #329
Thank you. I see

[2022-06-28 02:08] #329 closed

[2022-06-28 09:42] uriyyo commented on #318
@northtree I am closing this issue. Please, reopen it in case of any problems.

[2022-06-28 09:42] #318 closed

[2022-06-29 04:19] arthurio commented on #306
@ikkysleepy Both screenshots look identical, can you update with the one for page 5?

[2022-06-29 05:49] ikkysleepy commented on #306
Here is a new query with the last object on page 1 being the same as the first object on page 2

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/1915449/176360950-0ce3d25c-8aa8-4467-a884-30c25c63e12f.png">

<img width="1381" alt="image" src="https://user-images.githubusercontent.com/1915449/176361062-72886b2a-396f-4dba-87ce-da6836a99417.png">

In this example. The last

[2022-06-29 06:28] arthurio commented on #306
Hmmm I'm not sure, looks like `created_at` is different, as well as `author`. It's a bit hard to see what's going on with screenshots, do you think you could write a small reproducible test case? Or at least provide the complete json data being returned from each of the api calls?

[2022-06-29 20:54] ikkysleepy commented on #306
Partial json object:

[code]

[code]
Full Json is attached here:
[2.json.txt](https://github.com/uriyyo/fastapi-pagination/files/9014465/2.json.txt)
[1.json.txt](https://github.com/uriyyo/fastapi-pagination/files/9014467/1.json.txt)

[2022-07-05 14:17] TamiasSibiricus opened #333 "Linked pagination does not work with APIRouter"
Hi

**Problem:**
In context of usage Links inside pagination i have found sample where i can customise links output #321 This code works well until i try to apply pagination through APIRouter. FastAPI respond with 500 error with message in log "request context var must be set". It does not work even i use linked Page  realisation from module without customisations

**Source sample code:**

[code]

[2022-07-05 14:21] TamiasSibiricus opened #334 "Beanie ODM support"
Hi,
I think it would be helpful to add Beanie ODM support for pagination. I'll prepare Pull request in next few days.

[2022-07-05 14:22] TamiasSibiricus commented on #304
I have created new issue for beanie #334 before find proposal here. Solution will coming soon.

[2022-07-05 16:46] uriyyo commented on #333
Hi @TamiasSibiricus,

You need to call `add_pagination` with `FastAPI` instance after all routers registration:
[code]

[2022-07-05 18:25] TamiasSibiricus commented on #333
Ok. My fault was to call add_paginate outside of startup event where  router additions happens. so it make situation when routes has been added(probably) after pagination apply.

So code samples

[code]

or

[code]

Both examples work like a charm, but all of them require routes registration before and on same action level where add_pagination called.

[2022-07-07 19:07] tedtally opened #335 "Customize LimitOffsetPage"
I want to alter the LimitOffsetPage response elements to display "records" instead of "items" and "totalCount" instead of "count". I read the link to customize the Page class. Would adding these customizations to the Page class be reflected if we were using LimitOffsetPage classes or can the same modifications to the Page class must be applied to LimitOffset?

[2022-07-11 20:33] aduquehd opened #338 "How to sort ASC or DESC in a MOTOR query?"
I know how to filter, but I would like to sort/order by a specific field, like _id (created date).

I'm not sure, but maybe we could add the `cursor.sort()` (dynamically) after the line 20 ?

https://github.com/uriyyo/fastapi-pagination/blob/main/fastapi_pagination/ext/motor.py#L21

[2022-07-11 20:49] aduquehd commented on #338
I'm closing the ticket, I just found the solution using the `sort` as a kwarg.

[code]

[2022-07-11 20:49] #338 closed

[2022-07-11 20:50] aduquehd commented on #297
@marxyes You can sort using the `sort` kwarg.

`paginate(collection=collection, query_filter=query_filter, sort=[("_id", -1)])`

[2022-07-13 05:58] nikstuckenbrock commented on #335
Hey @tedtally,

in my opinion you should be right. You'll need to create a customized LimitOffsetPage class.
I hope I could help you out.

[2022-07-14 02:49] bestyyo opened #340 "response_model_exclude is not working"
here is my code, "response_model_exclude" is no longer useful by using the paginate method. i dont know what goes wrong.

`@router.post('/user/get_users/',`
`             response_model=Page[User],`
`             response_model_exclude=["password", "created_at", "updated_at"])`
`async def get_users(`
`    params: Params = Depends(),`
`    session: AsyncSession = Depends(get_session)`
`):`
`    db_

[2022-07-14 08:43] uriyyo commented on #340
Hi @bestyyo,

You need specify exlude based on a `Page[User]` model instead of `User`.
Please, try yo use this code:
[code]

[2022-07-14 08:44] uriyyo commented on #340
Hi @bestyyo,

You need specify exlude based on a `Page[User]` model instead of `User`.
Please, try yo use this code:
[code]

[2022-07-19 15:16] #335 closed

[2022-07-24 15:38] uriyyo commented on #340
@bestyyo I am closing this issue. Please, reopen it in case of any questions.

[2022-07-24 15:38] #340 closed

[2022-07-24 15:38] uriyyo commented on #334
Hi @TamiasSibiricus,

Do you have any plans to implement it?

[2022-07-24 15:47] TamiasSibiricus commented on #334
Hi @uriyyo

Yes.. Just do not complete tests for plugin before my vacation. Will create PR next week.

[2022-07-26 09:42] emregeldegul opened #345 "page parameter does not start with 0."
Hi.
I migrate from fastapi-pagination==0.7.4 to fastapi-pagination==0.9.3. But, the page argument does not start from zero, it starts from 1. This is causing trouble on the frontend. If I want to start with zero I get the following error.

`
curl -X 'GET' \
  'http://0.0.0.0:8000/users?page=0&size=50'`

`{
  "detail": [
    {
      "loc": [
        "query",
        "page"
      ],
      "msg": "en

[2022-07-26 19:53] uriyyo commented on #345
Hi @emregeldegul,

You need to define your own page:
[code]

And then you can use it instead of default `Page`:
[code]

[2022-07-26 19:56] Akkarine opened #346 "Support sorting by column name and it's direction"
Great project! And I think this would be nice additional feature.

[2022-07-27 12:02] emregeldegul commented on #345
I'm understand, thank you!
Such drastic changes are quite damaging to apps :/

[2022-07-27 12:02] #345 closed

[2022-07-29 15:09] aledt commented on #346
You should already be able to do this by specifying sorting attributes on the query being passed. From teh SQLALchemy example, for example:
`@app.get("/users/default", response_model=Page[UserOut])
@app.get("/users/limit-offset", response_model=LimitOffsetPage[UserOut])
def get_users(db: Session = Depends(get_db)) -> Any:
    return paginate(db.query(User).order_by(User.name.desc()))`

[2022-08-02 07:18] Akkarine commented on #346
Yes, you could do that, but wouldn't be great to have such close-theme feature out of the box? Also, probably, as said in #219 , there is room left for optimizations, that could be missed, with passing prepared queries.

[2022-08-13 22:17] chichi13 opened #349 "'Select' object has no attribute 'to_raw_params'"
I've just tried this package, according to the example and the doc I've tried this :

[code]

Where `User` is :

[code]

This `paginate(db, users)` seems to be the problem. I get the following error :

<details>
  <summary>Traceback</summary>

[code]

</details>

I'm using :
- FastAPI : 0.79.0
- asyncpg : 0.26.0
- SQLAlchemy : 1.4.39

Do I do something wrong ?

[2022-08-14 08:51] uriyyo commented on #349
Hi @chichi13,

You need to import `paginate` from `fastapi_pagination.ext. async_sqlalchemy`:
[code]

[2022-08-14 09:08] chichi13 commented on #349
Indeed, I missed that, thanks !

[2022-08-14 09:08] #349 closed

[2022-09-01 09:37] letoss commented on #265
I was considering using this lib. Since it really lacks documentation, I can't make the decision. I'm not sure if it'd have a really big impact on my project.
I'm using APIRouter for registering my endpoints and I couldn't see any example using that, just FastAPI.

I think I'll wait until there is more documentation in place.

[2022-09-04 14:30] uriyyo commented on #306
Hi @ikkysleepy,

New version `0.10.0` has been released. Could you please check if this issue is still present?

[2022-09-04 14:31] uriyyo commented on #305
Hi @nikstuckenbrock @marxyes,

`pymongo` integration has been released under `0.10.0` version.

[2022-09-04 14:34] uriyyo commented on #346
Hi @Akkarine,

As @aledt said, you can specify `order_by` when a passing query to paginate function:
[code]

New version `0.10.0` has minor optimization that will reset `order_by` when executing `count` query.

[2022-09-04 14:36] uriyyo commented on #304
@TamiasSibiricus Because of `gino` package there were dependency conflicts between other packages. After removing it from the dependencies list seems like this issue is no longer needed.

[2022-09-04 14:36] #304 closed

[2022-09-05 03:08] ikkysleepy commented on #306
[](url)The issue is still present.

[page2.json.txt](https://github.com/uriyyo/fastapi-pagination/files/9486416/page2.json.txt)
[page1.json.txt](https://github.com/uriyyo/fastapi-pagination/files/9486417/page1.json.txt)

See the last CID on the first page: **UgwLibS8A51d9vXAPkl4AaABAg**

That record is  now on the 2nd page as well.  This happens on the 2nd page to 3rd page as well, but not after t

[2022-09-05 07:26] uriyyo commented on #306
@ikkysleepy

I have created minimal pagination with sorting app:
[code]

Sorting is working as expected.

First page:
[code]
[code]
Second page:
[code]
[code]

Maybe you have complex join or relationship loading inside your query?
To have the correct order of items you should use `selectinload` strategy instead of `joinedload`.

[2022-09-06 02:07] ikkysleepy commented on #306
The issue is with postgresql processing . No complex join relationship.  I was able to reproduce the issue if and only if the database is in postgresql and the records are around 500 because of the randomness.  So the RAW query in postgresql seems fine, so maybe records are handled a little bit different than sqlite records?

So you need to setup postgresql server and add the user/pass/databasenam

[2022-09-06 07:40] uriyyo commented on #306
@ikkysleepy Maybe issue when rows have same `votes` column value. In such case you can add secondary order by clause.

Could you please check if code above still have your issue:
[code]

[2022-09-06 11:33] davidbrochart opened #361 "Paginate inner model field"
Great library, thanks!

How would you go about using it on an endpoint which doesn't directly return a sequence, but a model in which a field is the sequence to paginate, e.g.:
[code]

[2022-09-06 12:14] uriyyo commented on #361
@davidbrochart How JSON response should look like?

smth like this?
[code]

[2022-09-06 12:18] davidbrochart commented on #361
Yes, exactly.

[2022-09-06 12:28] uriyyo commented on #361
@davidbrochart It looks ugly now(

I will try to provide a better API for such purposes.

[code]
![image](https://user-images.githubusercontent.com/32038156/188635173-f4ef8188-42dc-49c7-84a6-e737c23a419a.png)

[2022-09-06 12:48] uriyyo commented on #361
@davidbrochart As for me ideal API should look like this:
[code]

So basically you can add additional fields that will be passed when the response model will be instantiated:
[code]

What do you think about such API? Maybe you have other ideas?

[2022-09-06 13:00] davidbrochart commented on #361
My original `ResponseType` example was intentionally simple:
[code]
But actually my real use-case is more complex. Ideally this model could be as big as we want, and the data to paginate could even be nested deep inside, so we don't want to add back all the other data around the data to paginate "by hand".
It would be great if `paginate()` could return the same data structure, with the data to pag

[2022-09-06 13:05] uriyyo commented on #361
I think yes.

Could you please show what API should look like in your opinion?

[2022-09-06 13:24] davidbrochart commented on #361
I'm not sure, maybe something like this:
[code]
But I'm probably missing something.

[2022-09-06 14:02] uriyyo commented on #361
Thanks for your suggestion. I will try to think about a good API for such feature.

Currently, as a workaround you can access paginated items and pass them to your custom schema:
[code]

[2022-09-06 15:55] davidbrochart commented on #361
Thanks, but I'm not sure I understand. This doesn't return a `Page` response, right? For instance, there is no link header.

[2022-09-07 15:41] davidbrochart opened #362 "Optional pagination"
Is it possible to create a route that would return a paginated result if some `params` where passed, and a non-paginated result otherwise?
It looks like `add_pagination` inspects the `response_model`, so I'm not sure how it can be done.

[2022-09-08 18:32] deejaypro commented on #334
Hey,

i just wanted to ask, if you still have plans to create a PR for this? I would like to use this module with my existing Fast-Api+Beanie API.

[2022-09-09 16:14] uriyyo commented on #219
@alexdyck For those who have a performance issue with the default `limit-offset` implementation can now use `row-number` pagination.

`row-number` pagination available for `sqlmodel` and `sqlalchemy` extenations.

Usage example:
[code]

I am planing to release a new version in 1-2 weeks.

[2022-09-10 10:02] uriyyo commented on #334
Hi @TamiasSibiricus,

Sorry for bothering you. Do you still have plans to implement this integration?

[2022-09-12 07:50] fruch opened #375 "Cursor base pagination"
In some cases, paging by page number isn't exactly accurate (fast pacing changing data)

I would be nice to have some example on how to do those kind of paging (with the databases that support those):

this is almost there (but without utilizing any db capabilities for that):
https://pypi.org/project/fastapi-pagination-utilities/

library doing so for sqlalchemy:
https://github.com/djrobstep/sqlak

[2022-09-12 23:46] ikkysleepy commented on #306
That seemed to work. Yeah that is an issue. Thanks for the update. I think we can close the ticket.

[2022-09-13 07:38] uriyyo commented on #306
Great, I am closing this issue.

[2022-09-13 07:38] #306 closed

[2022-09-13 07:39] uriyyo commented on #334
Hi @deejaypro,

Beanie integration has been added and will be released in the next version.

[2022-09-16 10:46] fruch commented on #375
@uriyyo that PR looks very good, I've played with implementing Cassandra based cassandra-driver cqlengine with it.

One thing I've encountered, is the assumption that the cursor is string.

In Cassandra cases it's bytes, and needs to be treated a bit differently.

Also one minor gotcha, based64 isn't url encoded, it might be nicer to put as url encoded string, so the client can just pass it throug

[2022-09-17 11:20] uriyyo commented on #375
@fruch Thanks, your points totally make sense. I added support for `bytes` cursor and auto-cursor URL encoding.

To use bytes cursor:
[code]

[2022-09-17 22:42] dexax commented on #219
Just to add something into the topic of the LIMIT-OFFSET on Postgres.
The Postgres documentation describes what the @alexdyck  is doing wrong

you don't enforce any ordering this is the problem.  Adding  `ORDER BY id` will for sure make the query almost instant because DB will just use pk index to pick requested rows

[2022-09-18 09:56] uriyyo commented on #219
@dexax Thanks for the explanation.

I am closing this issue as far as we have found the root cause, and it's not a library issue.

[2022-09-18 09:56] #219 closed

[2022-09-18 10:03] uriyyo commented on #346
@Akkarine I am closing this issue.

Please, take a look at https://github.com/uriyyo/fastapi-pagination/issues/219#issuecomment-1250150968 to see the root cause of performance issues.

[2022-09-18 10:03] #346 closed

[2022-09-18 10:05] uriyyo commented on #305
Hi @marxyes,

Are you still facing this issue? Could you please provide a code snippet to reproduce this issue?

[2022-09-18 17:00] fruch commented on #375
nice, here a PR using this:
https://github.com/uriyyo/fastapi-pagination/pull/386

[2022-09-20 15:40] MattKravetz commented on #246
Hi, I recently ran into this issue with my API where an endpoint returning paginated responses would return an incorrect number of results if the query that contained an outer join that produced duplicate rows.  The duplication was handled well by SQLAlchemy/SQLModel to produce unique objects with nested relations, but the limit/offset pagination provided by this library returned the count based o

[2022-09-29 08:27] jacek-rybak opened #397 "Add support for Django >3.2 fastapi-pagination[django]"
It would be nice to have support for the Django versions higher than 3.2.

[2022-10-10 16:57] david-welch opened #404 "Timeline on next release?"
Hello,
Thanks for the project! There are a couple of features in main I was hoping to use. Do you have any idea when the next release will be?

[2022-10-10 17:42] uriyyo commented on #404
Hi @david-welch,

I hope to release a new version in 1-2 weeks

[2022-10-15 04:42] syedhabib53 commented on #334
@uriyyo When can we expect next release? We are using right now with git url. 🙄

[2022-10-15 08:29] uriyyo commented on #334
@syedhabib53 I hope I will do it in one week

[2022-10-18 21:42] bastienboutonnet opened #411 "Is it possible to lift the maximum size param?"
First off really nice plugin to fast API it's making implementing pagination really easy!

I've ran into an issue where I try to request a size > 100 and I get a validation error

[code]

I'd actually like to allow for more, unless there's a real rationale not to. If so, what could I tweak to allow that? I can't find it in the docs and I'm having a hard time guessing this by going through the code

[2022-10-18 22:22] bastienboutonnet commented on #411
Well that's embarassing. I finally re-read that [page](https://uriyyo-fastapi-pagination.netlify.app/customization/) and realised this was what I needed. Sorry for the noise here. I'll close the issue

[2022-10-18 22:22] #411 closed

[2022-10-20 07:43] Artyom00 opened #413 "Swagger can not detect custom Page schema"
## Problem description

Hi! I had to create a custom Page in the following structure:
[code]
So i wrote the next code shippet:
[code]
Code snippet of Page usage:
[code]
But in this way FastAPI builtin Swagger can not generate schema of `records` field properly:
![image](https://user-images.githubusercontent.com/63424124/196883323-20bedf28-fac2-4ef1-97bd-0c209712a7d0.png)
However, it works fine if

[2022-10-20 16:48] uriyyo commented on #413
Hi @Artyom00,

Could you please update your Page & Params definition to:
[code]

Basically, to make it works both `Page` and `Content` must be generic models.

[2022-10-20 21:22] Artyom00 commented on #413
Thank you so much, @uriyyo! This is exactly what I was trying to achieve.

[2022-10-20 21:22] #413 closed

[2022-10-21 08:09] jacek-rybak commented on #397
@uriyyo I added a PR [https://github.com/uriyyo/fastapi-pagination/pull/414] with a Django version upgrade. It would be nice to have it merged as soon as possible, because some projects may be blocked from upgrading Django due not compatible requirements. Unfortunately, this change requires bumping the python version from 3.7 to >=3.8, but I think this is a good move since security support for thi

[2022-10-24 17:41] 10ourto opened #421 "Seems using_page is removed now?"
I need same functionality https://github.com/uriyyo/fastapi-pagination/issues/22 but can't fild `using_page` anymore

[2022-10-24 19:42] uriyyo commented on #421
@10ourto I think `set_page` can be what you need.
[code]

But actually with new version of `fastapi-pagination` no need to manually set page cls.

Everything will be done under the hood when you call `add_pagination` on the app instance.
[code]

[2022-10-26 14:31] mbalc opened #426 "paginate for sqlalchemy2.0 returns `AbstractPage`, Pylance complains about `.items`"
Ok so my question is - how can I access and map over the items of a page that's returned by the paginator for sqlalchemy 2.0, without getting errors from Pylance?

Here's a screenshot showcasing a toy version of the issue I'm encountering - even though the code itself works when I run it, Pylance complains about the `.items` attribute not defined on the `AbstractPage` class returned from `paginate

[2022-10-26 15:30] dongfengweixiao opened #427 "How to select mulit model(like select(User, UserExt))？"

[2022-10-26 18:36] uriyyo commented on #427
@dongfengweixiao Could you please try this code:
[code]

[2022-10-28 16:40] uriyyo commented on #427
@dongfengweixiao Looks like you missed `add_pagination` call.

[2022-10-29 06:41] #427 closed, assigned to nobody

[2022-11-07 21:46] rerouj opened #437 "async_sqlalchemy : bug on the paginate() function"
When using the paginate() function of the async_sqlalchemy extension, the following error is raising :

[code]

I dont know what the error is precisely pointing, but I've founded that the problem is coming from the unique() method used on the session request response. My model is a bit complexe but I think that my datas are pretty clean, so I didn't have troubleshooted the issue any further. I sup

[2022-11-09 14:55] dmitrysleptsov commented on #437
Hi,
Stumbled across your question. I think, this might be the reason of your error https://groups.google.com/g/sqlalchemy/c/FHuCN-X9L8A

[2022-11-18 12:35] marigan commented on #334
fetch_links feature is missing in this implementation unfortunately!

If you have a query where you are searching through nested links you have the have fetch_links=True in the very latest find_many in paginate

[2022-11-18 13:33] marigan commented on #334
It can be done like this

[code]

anyway there is a bug in beanie while the count won't work here roman-right/beanie#426

[2022-11-23 08:43] qvntz commented on #404
Hi!
Thanks for the project!
I would also like to start using the cursor when it will be released?

[2022-11-24 16:27] uriyyo commented on #404
Hi @qvntz

Sorry, was busy with my main job. I am planning to do it this weekend.

[2022-11-26 05:06] harshalbaviskar commented on #334
Following workaround should work to get both items as well as count.
[code]

[2022-11-27 13:54] Rivosoa commented on #334
Hi @uriyyo , may I know when you will release the version with Beanie support please?

[2022-11-27 17:26] uriyyo commented on #404
Hi @david-welch @qvntz

New version `0.11.0` has been release

[2022-11-27 17:26] #404 closed

[2022-11-27 17:26] uriyyo commented on #421
Hi @10ourto,

Please, reopen this issue in case of more questions.

[2022-11-27 17:26] #421 closed

[2022-11-27 17:29] uriyyo commented on #397
Hi @jacek-rybak

New version `0.11.0` has been released.

[2022-11-27 17:29] #397 closed

[2022-11-27 17:31] uriyyo commented on #375
Hi @fruch

New version 0.11.0 has been released.

[2022-11-27 17:31] #375 closed

[2022-11-27 17:32] uriyyo commented on #334
Hi all,

New version `0.11.0` has been released. Now `fastapi-pagination` supports `beanie`.

[2022-11-27 17:32] #334 closed

[2022-11-27 17:33] uriyyo opened #454 "Beanie add `fetch_links` support"
Context:
https://github.com/uriyyo/fastapi-pagination/issues/334#issuecomment-1319939697

[2022-11-27 17:36] uriyyo commented on #426
Hi @mbalc,

Sorry for the long response.

As an option, you can use `typing.cast` functions:
[code]

[2022-11-27 17:46] uriyyo commented on #305
Hi @marxyes,

Please, reopen this issue if you still facing this issue

[2022-11-27 17:46] #305 closed

[2022-11-27 17:57] uriyyo commented on #362
Hi @davidbrochart,

With version `0.11.0` you can achieve this using `pagination_ctx` function:
[code]

[2022-11-27 17:58] #426 closed

[2022-11-27 18:10] uriyyo commented on #361
Hi @davidbrochart,

Now it should be easier to implement this feature. Example:
[code]

[2022-11-28 15:00] josecsotomorales opened #455 "Unable to build FastAPI project with fastapi-pagination 0.11.0 dependency on python 3.11"
Hey folks!

I'm getting a dependency issue when building my FastAPI project on Python 3.11, it works fine on 3.10

stack trace:
[code]

[2022-11-28 15:04] josecsotomorales commented on #455
Tested with fastapi-pagination==0.11.0

[2022-11-28 15:06] josecsotomorales commented on #455
Actually! It works well with 0.10.0 so this is not related to Python 3.11, seems like this was introduced on 0.11.0 ... rolling back to 0.10.0 works!

[2022-11-28 20:00] uriyyo commented on #455
Hi @josecsotomorales,

Could you please try to install `fastapi-pagination` with `sqalchemy` extras:
[code]

[2022-11-29 09:51] matthew-emw commented on #455
this resolved the (same) issue for me

[2022-11-29 12:32] josecsotomorales commented on #455
That fixes the issue, thanks folks! @uriyyo @matthew-emw 🚀

[2022-11-29 12:33] #455 closed

[2022-11-29 13:50] uriyyo commented on #362
@marioland Please, take a look at this comment
https://github.com/uriyyo/fastapi-pagination/issues/455#issuecomment-1329683598

[2022-11-29 16:50] javivdm opened #457 "AbstractPage create method change of signature breaks custom pages"
With the latest release the AbstractPage create method went from
`def create(cls: Type[C], items: Sequence[T], total: Optional[int], params: AbstractParams) -> C:`
to
`def create(cls: Type[C], items: Sequence[T], params: AbstractParams, **kwargs: Any,) -> C:`

This breaks some pagination calls, I understand adding the kwargs, but the removal of the total parameter looks like an error to me.

If it